


:root {
    --primary-color: #112041;
    --secondary-color: #a2825b;

    --primary-color-light: #243f5c;
    --secondary-color-light: #d1ae86;

    /* START GUTTERS */
    --gutter-small: 0.45rem;
    --gutter: 0.9rem;
    --gutter-large: 1.8rem;
    --gutter-very-large: 3.6rem;
    /* END GUTTERS */

}